{% assign uniqueId = 'id_7553dfc5-8c20-4a74-b6c8-a6586f1bf495' %}

{% liquid
  if section.settings.VEDA_switch_3
    assign backgroundFixed = 'fixed'
  else
    assign backgroundFixed = 'scroll'
  endif

  if section.settings.VEDA_select_3 == 'color'
    assign backgroundColor = 'background-color: ' | append: null | append: ';'
  else
    assign backgroundColor = ''
  endif

  if section.settings.VEDA_select_3 == 'image' and section.settings.VEDA_image_1.src
    assign bgImage = section.settings.VEDA_image_1.src | image_url: width: 2000

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_2 | append: ';'
  elsif section.settings.VEDA_select_3 == 'image' and section.settings.VEDA_image_1.src == blank
    assign bgImage = 'https://cdn.shopify.com/s/files/1/0552/5510/5616/files/udxhtnzxtq.png?v=1681903122&width=1000'

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_2 | append: ';'
  else
    assign backgroundImage = ''
  endif

  assign sectionPadding = 'padding-top: ' | append: 50 | append: 'px;padding-right: ' | append: null | append: 'px;padding-bottom: ' | append: 50 | append: 'px;padding-left: ' | append: null | append: 'px;'

  if section.settings.VEDA_select_4 == 'full_width'
    assign containerType = 'container-fluid'
  else
    assign containerType = 'container'
  endif

  if section.settings.VEDA_slider_8 >= 0
    assign containerGap = 'padding-left: ' | append: section.settings.VEDA_slider_8 | append: 'px; padding-right: ' | append: section.settings.VEDA_slider_8 | append: 'px;'
  else
    assign containerGap = ''
  endif

  if section.settings.section_settings___width >= 0
    assign containerWidth = 'max-width: ' | append: section.settings.section_settings___width | append: 'px;'
  else
    assign containerWidth = ''
  endif

  if section.settings.VEDA_slider_7 >= 0
    assign settingGap = section.settings.VEDA_slider_7 | divided_by: 2.0

    assign settingGapVertical = section.settings.VEDA_slider_7
  else
    assign settingGap = ''

    assign settingGapVertical = ''
  endif

  assign colGap = 'margin-top: ' | append: settingGapVertical | append: 'px; padding-left: ' | append: settingGap | append: 'px; padding-right: ' | append: settingGap | append: 'px;'

  assign rowGap = 'margin-top: -' | append: settingGapVertical | append: 'px; margin-left: -' | append: settingGap | append: 'px; margin-right: -' | append: settingGap | append: 'px;'

  assign sectionSeparator = ''

  if section.settings.VEDA_switch_1
    if section.settings.VEDA_slider_5
      assign sectionSeparator = sectionSeparator | append: 'border-top: ' | append: section.settings.VEDA_slider_5 | append: 'px solid ' | append: '#f3f3f3' | append: ';'
    endif

    if section.settings.VEDA_slider_4
      assign sectionSeparator = sectionSeparator | append: 'border-bottom: ' | append: section.settings.VEDA_slider_4 | append: 'px solid ' | append: '#f3f3f3' | append: ';'
    endif
  endif
%}

{% capture CollectionContent %}
  <div
    class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1"
    {% if section.settings.VEDA_slider_7 or section.settings.VEDA_slider_7 == 0 %}
      style="{{ rowGap }}"
    {% endif %}
  >
    {%- liquid
      assign aspectRatio = 140
      if section.settings.VEDA_slider_2
        assign aspectRatio = section.settings.VEDA_slider_2
      endif
    %}


    {% paginate collections by section.settings.VEDA_slider_3 %}
      {% for collection_item in collections %}
        <div
          class="col"
          {% if section.settings.VEDA_slider_7 or section.settings.VEDA_slider_7 == 0 %}
            style="{{ colGap }}"
          {% endif %}
        >
          <a
            href="{{ collection_item.url }}"
            class="group* d:block cur:pointer ov:hidden pos:relative"
          >
            <div
              class="veda-image-cover pos:relative ov:hidden trf:scale(1.1)*group-hover trs:0.3s"
              style="--aspect-ratio: {{ aspectRatio }}; border-radius: {{ section.settings["VEDA_slider_1"] }}%"
            >
              {% if collection_item.image.src != blank %}
                <img
                  class="veda-lazyload"
                  src="{{ collection_item.image.src | image_url: width: 10 }}"
                  draggable="false"
                  alt="{{ collection_item.title }}"
                  {% if collection_item.image.width %}
                    data-intrinsic-width="{{ collection_item.image.width }}"
                    width="{{ collection_item.image.width }}"
                  {% endif %}
                  {% if collection_item.image.height %}
                    height="{{ collection_item.image.height }}"
                    data-intrinsic-height="{{ collection_item.image.height }}"
                  {% endif %}
                  loading="lazy"
                >
              {% else %}
                {% liquid
                  assign pl = 'lifestyle-1'

                  if 'collection-1'
                    assign pl = 'collection-1'
                  endif
                  assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2'
                %}
                {{ pl | placeholder_svg_tag: placeholder_class }}
              {% endif %}
            </div>
            <h3
              class="pos:absolute b:0 r:0 maw:100% ta:center z:2 bgc:color-light p:20px_25px m:0 ff:font-secondary c:color-gray9 fw:500 fz:15px"
            >
              {{ collection_item.title }}
            </h3>
          </a>
        </div>
      {% endfor %}
      {% if paginate.pages > 1 %}
        <div class="mt:0! w:100%">
          {% liquid
            assign item_general_class = 'fz:15px! d:flex! ai:center jc:center ov:hidden trs:0.3s m:5px'

            case section.settings.VEDA_select_1
              when 'square_shadow'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-light c:color-gray9 c:color-primary|h bxsh:0_5px_15px_color-gray9.1'
              when 'square_border'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-light bd:1px_solid_color-gray3 c:color-gray9 c:color-primary|h'
              when 'square_gray'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-gray3 c:color-gray9 c:color-primary|h'
              when 'circle_shadow'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-light c:color-gray9 c:color-primary|h bxsh:0_5px_15px_color-gray9.1 bdrs:50%'
              when 'circle_border'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-light bd:1px_solid_color-gray3 c:color-gray9 c:color-primary|h bdrs:50%'
              when 'circle_gray'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-gray3 c:color-gray9 c:color-primary|h bdrs:50%'
              when 'custom'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px'
              else
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px'
            endcase
          %}
          <nav class="w:100% pt:50px m:0!" data-css="{{ null }}">
            <ol class="d:flex jc:center ls:none m:0! p:0!">
              {% if paginate.previous %}
                <li>
                  <a
                    class="{{ item_general_class }} {{ item_variant_class }}"
                    aria-label="Previous"
                    href="{{ paginate.previous.url }}"
                    data-css="{{ null }}"
                  >
                    <i class="far fa-arrow-left"></i>
                  </a>
                </li>
              {% endif %}
              {% for part in paginate.parts %}
                {% if part.is_link %}
                  <li>
                    <a
                      class="{{ item_general_class }} {{ item_variant_class }}"
                      aria-label="Page {{ part.title }}"
                      href="{{ part.url }}"
                      data-css="{{ null }}"
                    >
                      {{ part.title }}
                    </a>
                  </li>
                {% else %}
                  {% if part.title == paginate.current_page %}
                    <li>
                      <span
                        class="{{ item_general_class }} {{ item_variant_class }} bgc:color-primary! c:color-light-freeze!"
                        aria-current="page"
                        aria-label="Page {{ part.title }}"
                        data-css="{{ null }}"
                      >
                        {{ part.title }}
                      </span>
                    </li>
                  {% else %}
                    <li>
                      <span
                        class="{{ item_general_class }} {{ item_variant_class }}"
                        aria-label="Page {{ part.title }}"
                        data-css="{{ null }}"
                      >
                        {{ part.title }}
                      </span>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}

              {% if paginate.next %}
                <li>
                  <a
                    class="{{ item_general_class }} {{ item_variant_class }}"
                    aria-label="Next"
                    href="{{ paginate.next.url }}"
                    data-css="{{ null }}"
                  >
                    <i class="far fa-arrow-right"></i>
                  </a>
                </li>
              {% endif %}
            </ol>
          </nav>
        </div>
      {% endif %}
    {% endpaginate %}
  </div>
{% endcapture %}

<section
  data-id="{{ uniqueId }}"
  class="veda-lazyload pos:relative z:1 bgz:cover bgp:center"
  style="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}{{ sectionSeparator }}"
>
  <div
    class="{{ containerType }}"
    {% if section.settings.VEDA_slider_8
      or section.settings.VEDA_slider_8 == 0
      or section.settings.section_settings___width
      or section.settings.section_settings___width == 0
    %}
      style="{{ containerGap }}{{ containerWidth }}"
    {% endif %}
  >
    <div
      {% if 'left' == 'left' %}
        class="row mt:0!"
      {% else %}
        class="row mt:0! fld:row-reverse"
      {% endif %}
    >
      <div class="col-xs-{{ 12 }} col-sm-{{ 12 }} col-md-{{ 12 }} col-lg-{{ 12 }} mt:0!">
        <div
          {% if 12 == 12 %}
            class="pos:relative d:flex ai:center jc:space-between"
          {% else %}
            class="pos:relative"
          {% endif %}
        >
          <div class="d:flex fld:column w:100%">

            {% for block in section.blocks %}
              {% assign heading_item = block.settings %}

              {% if heading_item.heading___enable %}
                {% capture attr %}
                  class="fw:500" style="text-align: center"
                {% endcapture %}
                {% case block.type %}
                  {% when 'heading_title' %}
                    {% if heading_item.heading___title_tag_name == 'h2' %}
                      <h2 {{ attr }}>{{ heading_item.heading___title }}</h2>
                    {% elsif heading_item.heading___title_tag_name == 'h3' %}
                      <h3 {{ attr }}>{{ heading_item.heading___title }}</h3>
                    {% elsif heading_item.heading___title_tag_name == 'h4' %}
                      <h4 {{ attr }}>{{ heading_item.heading___title }}</h4>
                    {% elsif heading_item.heading___title_tag_name == 'h5' %}
                      <h5 {{ attr }}>{{ heading_item.heading___title }}</h5>
                    {% elsif heading_item.heading___title_tag_name == 'h6' %}
                      <h6 {{ attr }}>{{ heading_item.heading___title }}</h6>
                    {% endif %}
                  {% when 'heading_text' %}
                    <div
                      data-css="{{ null }}"
                      style="text-align: center"
                      class="fz:16px"
                    >
                      {{ heading_item.heading___text }}
                    </div>
                  {% when 'heading_icon' %}
                    <div
                      data-css="{{ null }}"
                      {% if 'center' == 'left' %}
                        style="text-align: start"
                      {% elsif 'center' == 'center' %}
                        style="text-align: {{ "center" }}; margin-left: auto; margin-right: auto"
                      {% elsif 'center' == 'right' %}
                        style="text-align: end; margin-left: auto; margin-right: 0"
                      {% endif %}
                      class="fz:34px"
                    >
                      {{ heading_item.heading___icon }}
                    </div>
                  {% when 'heading_space' %}
                    <div style="height: {{ heading_item.heading___space }}px"></div>
                  {% when 'link' %}
                    <a
                      href="{{ heading_item.link }}"
                      class="ff:font-secondary fz:16px fw:500 c:color-gray9 c:color-gray9|h! td:underline"
                      data-css="{{ heading_item.link_design.id }}"
                      style="text-align: center"
                    >
                      {{ heading_item.text_link }}
                    </a>
                  {% when 'heading_divider' %}
                    {% assign headingDividerPadding = 'padding-top: '
                      | append: null
                      | append: 'px;padding-right: '
                      | append: null
                      | append: 'px;padding-bottom: '
                      | append: null
                      | append: 'px;padding-left: '
                      | append: null
                      | append: 'px;'
                    %}
                    <div
                      class="pt:20px fz:0"
                      style="text-align: center;{{ headingDividerPadding }}"
                    >
                      {% if heading_item.heading___divider == 'wave' %}
                        <div class="d:inline-block">
                          <svg
                            width="56px"
                            height="7px"
                            viewBox="0 0 56 7"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            fill="none"
                          >
                            <g transform="translate(-288.000000, -4390.000000)" class="stk:color-gray3" style="stroke: {{ null }}">
                                <g transform="translate(135.000000, 4033.000000)">
                                    <g transform="translate(0.000000, 48.000000)">
                                        <g transform="translate(153.000000, 310.000000)">
                                            <path d="M0,0 C4.64733427,0 4.65894638,2 9.33333333,2 C14.0077203,2 13.9400367,0 18.6666667,0 C23.3932966,0 23.3301172,2 28,2 C32.6698828,2 32.6447946,0 37.3333333,0 C42.0218721,0 41.9540981,2 46.6666667,2 C51.3792353,2 51.3554302,0 56,0"></path>
                                            <path d="M0,3 C4.64733427,3 4.65894638,5 9.33333333,5 C14.0077203,5 13.9400367,3 18.6666667,3 C23.3932966,3 23.3301172,5 28,5 C32.6698828,5 32.6447946,3 37.3333333,3 C42.0218721,3 41.9540981,5 46.6666667,5 C51.3792353,5 51.3554302,3 56,3"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                          </svg>
                        </div>
                      {% elsif heading_item.heading___divider == 'mountain' %}
                        <div class="d:inline-block">
                          <svg
                            width="60px"
                            height="9px"
                            viewBox="0 0 60 9"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-3.000000, -47.000000)" stroke-width="2" class="stk:color-gray3" style="stroke: {{ null }}">
                                    <g transform="translate(0.000000, 45.000000)">
                                        <polyline points="4 9 9.8 4 15.6 9 21.4 4 27.2 9 33 4 38.8 9 44.6 4 50.4 9 56.2 4 62 9"></polyline>
                                    </g>
                                </g>
                            </g>
                          </svg>
                        </div>
                      {% else %}
                        <div
                          class="d:inline-block! w:50px h:2px bgc:color-gray3"
                          style="background-color: {{ null }}"
                        ></div>
                      {% endif %}
                    </div>
                  {% else %}

                {% endcase %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% liquid
        assign contentXs = 12 | minus: 12

        assign contentSm = 12 | minus: 12

        assign contentMd = 12 | minus: 12

        assign contentLg = 12 | minus: 12
      %}
      <div class="col-xs-{{ contentXs }} col-sm-{{ contentSm }} col-md-{{ contentMd }} col-lg-{{ contentLg }} mt:0!">
        {{ CollectionContent }}
      </div>
    </div>
  </div>
  {% if section.settings.VEDA_select_3 == 'video' and section.settings.VEDA_video_1 %}
    <div data-veda-video="{{ section.settings["VEDA_video_1"] }}"></div>
  {% endif %}
  {% if section.settings.VEDA_switch_2 %}
    <div
      class="pos:absolute ins:0 z:-1"
      style="background-color: {{ null }};backdrop-filter: blur({{ section.settings["VEDA_slider_6"] }}px)"
    ></div>
  {% endif %}
</section>
{% schema %}
{
  "name": "Collection Listing 2",
  "blocks": [
    {
      "type": "heading_title",
      "name": "Heading > Title",
      "settings": [
        {
          "label": "Heading > Tag Name",
          "id": "heading___title_tag_name",
          "type": "select",
          "default": "h2",
          "options": [
            {
              "label": "H2",
              "value": "h2"
            },
            {
              "label": "H3",
              "value": "h3"
            },
            {
              "label": "H4",
              "value": "h4"
            },
            {
              "label": "H5",
              "value": "h5"
            },
            {
              "label": "H6",
              "value": "h6"
            }
          ]
        },
        {
          "label": "Heading > Title",
          "id": "heading___title",
          "type": "liquid",
          "default": "Collection Listing"
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_text",
      "name": "Heading > Text",
      "settings": [
        {
          "label": "Heading > Text",
          "id": "heading___text",
          "type": "liquid",
          "default": "<p>This is a text</p>"
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_divider",
      "name": "Heading > Divider",
      "settings": [
        {
          "label": "Heading > Divider",
          "id": "heading___divider",
          "type": "select",
          "default": "line",
          "options": [
            {
              "label": "Line",
              "value": "line"
            },
            {
              "label": "Wave",
              "value": "wave"
            },
            {
              "label": "Mountain",
              "value": "mountain"
            }
          ]
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_icon",
      "name": "Heading > Icon",
      "settings": [
        {
          "label": "Heading > Icon",
          "info": "[Get icon](https://fontawesome.com/v5/search)",
          "id": "heading___icon",
          "type": "html",
          "default": "<i class=\"far fa-atom\"></i>"
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    },
    {
      "type": "heading_space",
      "name": "Heading > Space",
      "settings": [
        {
          "label": "Heading > Space",
          "id": "heading___space",
          "type": "number",
          "default": 20
        },
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        }
      ]
    }
  ],
  "settings": [
    {
      "label": "Pagination > Item Variant",
      "id": "VEDA_select_1",
      "type": "select",
      "default": "circle_border",
      "options": [
        {
          "label": "Custom",
          "value": "custom"
        },
        {
          "label": "Square Shadow",
          "value": "square_shadow"
        },
        {
          "label": "Square Border",
          "value": "square_border"
        },
        {
          "label": "Square Gray",
          "value": "square_gray"
        },
        {
          "label": "Circle Shadow",
          "value": "circle_shadow"
        },
        {
          "label": "Circle Border",
          "value": "circle_border"
        },
        {
          "label": "Circle Gray",
          "value": "circle_gray"
        }
      ]
    },
    {
      "label": "Content > Border Radius",
      "id": "VEDA_slider_1",
      "type": "number"
    },
    {
      "label": "Content > Aspect Ratio",
      "id": "VEDA_slider_2",
      "type": "number"
    },
    {
      "label": "Content > Quantity",
      "id": "VEDA_slider_3",
      "type": "number",
      "default": 8
    },
    {
      "label": "Section Settings > Separator Bottom",
      "id": "VEDA_slider_4",
      "type": "number"
    },
    {
      "label": "Section Settings > Separator Top",
      "id": "VEDA_slider_5",
      "type": "number"
    },
    {
      "label": "Section Settings > Enable Separator",
      "id": "VEDA_switch_1",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Background Overlay Blur",
      "id": "VEDA_slider_6",
      "type": "number"
    },
    {
      "label": "Section Settings > Enable Background Overlay",
      "id": "VEDA_switch_2",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Background Size",
      "id": "VEDA_select_2",
      "type": "select",
      "default": "cover",
      "options": [
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Contain",
          "value": "contain"
        }
      ]
    },
    {
      "label": "Section Settings > Background Fixed",
      "id": "VEDA_switch_3",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Background Video",
      "id": "VEDA_video_1",
      "type": "text"
    },
    {
      "type": "image_picker",
      "id": "VEDA_image_1",
      "label": "Background Image"
    },
    {
      "label": "Section Settings > Background Type",
      "id": "VEDA_select_3",
      "type": "select",
      "default": "none",
      "options": [
        {
          "label": "Image",
          "value": "image"
        },
        {
          "label": "Color",
          "value": "color"
        },
        {
          "label": "Video",
          "value": "video"
        },
        {
          "label": "None",
          "value": "none"
        }
      ]
    },
    {
      "label": "Section Settings > Column Gap",
      "id": "VEDA_slider_7",
      "type": "number"
    },
    {
      "label": "Section Settings > Container Gap",
      "id": "VEDA_slider_8",
      "type": "number"
    },
    {
      "label": "Section Settings > Width",
      "id": "section_settings___width",
      "type": "number"
    },
    {
      "label": "Section Settings > Container Width",
      "id": "VEDA_select_4",
      "type": "select",
      "default": "boxed",
      "options": [
        {
          "label": "Boxed",
          "value": "boxed"
        },
        {
          "label": "Full Width",
          "value": "full_width"
        },
        {
          "label": "Manual",
          "value": "manual"
        }
      ]
    }
  ],
  "tag": "div",
  "presets": [
    {
      "name": "Collection Listing 2",
      "blocks": [
        {
          "type": "heading_title"
        }
      ]
    }
  ]
}
{% endschema %}
